<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="comport" value="COM4"/>
    <add key="TerminalCode" value="hardware1" />
    <add key="TerminalPassword" value="scf23g@fhios" />
    <add key="FileUrl" value="https://exp.port-tranzit.ru/api/hardware-integration/unknown-documents" />
    <add key="servicestack:license" value="4287-e1JlZjo0Mjg3LE5hbWU6UG9ydCBUcmFueml0LFR5cGU6SW5kaWUsSGFzaDpieVhQQVVaTS8veU9YSkxsMFZXaTFPdkNLYVNzUmE1VS9MWEt6c1NwN1ZjaXZGOTZZSE5LU1o3cDU5TzZZeWhiSUp0aTBSR2xPcFd0VWNxL2JrUDBKTFZDSHM5anVxOXI4Q25PckFBYk5lOEZhcncyMFd1RzErZGlha1pnRmhBN0tqMGtHc1BEV0NEbXdwZjRPWXp4ZlhtRU51aW8vdkUzc09IWmwrME5abTg9LEV4cGlyeToyMDE3LTExLTAzfQ==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>